# Ignore Next.js build files and node_modules
/.next/
/out/
/node_modules/

# Ignore files with sensitive data


# Ignore testing files
/coverage
src/task-management-77408-firebase-adminsdk-4u7i2-b19fcf7140.json

# Ignore environment files
.env*.local

certificates