# Ignore Next.js build files and node_modules
/.next/
/out/
/node_modules/

# Ignore files with sensitive data


# Ignore testing files
/coverage
/task-management-77408-firebase-adminsdk-4u7i2-5b6a0837ed.json

# Ignore environment files
.env*.local

certificates